.App {
	text-align: center;
	background-color: whitesmoke;

}

.center {
	position: absolute;
	height: 200px;
	width: 200px;
	top: 50%;
	left: 50%;
	margin-left: -100px;
	margin-top: -100px;
	background-color: whitesmoke;
	color: purple;
	font-size: 100px;
}
